In [3]:
import pandas as pd
import random

In [9]:
# Create nested list of rows entries for each column in dataframe
df_rows = [[random.randint(0, 1) for i in range(10)] for i in range(50000)]

In [10]:
# List of colnames
colnames = [f'disease_{i}' for i in range(10)]

In [12]:
# Create dataframe
df = pd.DataFrame(df_rows[0:], columns=colnames)

In [13]:
df

,disease_0,disease_1,disease_2,disease_3,disease_4,disease_5,disease_6,disease_7,disease_8,disease_9
0,1,1,0,0,0,0,1,0,0,0
1,0,0,1,0,1,1,0,1,1,1
2,1,0,0,1,1,1,0,0,1,1
3,1,0,0,1,1,1,1,0,0,1
4,1,1,0,1,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0,0,0,1,0,0,1,0
49996,1,1,1,0,1,0,1,0,1,1
49997,1,0,1,0,0,0,0,0,0,0
49998,1,1,0,1,0,0,0,1,0,0
49999,1,0,0,0,1,1,1,0,1,1

In [ ]:
def create_dummy_data():

    pass